<app-navbar></app-navbar>

<div class="container col-md-6 offset-md-3 mt-5">
  <h5 class="card-header">Edit Customer Details</h5>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
            <div *ngIf="f.name.errors.minlength">
              Name must be atleast 3 charcters
            </div>
            <div *ngIf="f.name.errors.pattern">Enter a valid name</div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col">
            <label class="form-label">Contact</label>
            <input
              type="text"
              formControlName="contact"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
            />
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
              <div *ngIf="f.contact.errors.required">Contact is required</div>
              <div *ngIf="f.contact.errors.pattern">Enter a valid contact</div>
            </div>
          </div>
          <div class="mb-3 col">
            <label class="form-label">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Enter a valid email</div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Date of Birth</label>
          <input
            type="date"
            formControlName="dob"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
          />
          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
            <div *ngIf="f.dob.errors.ageLimit">Invalid Dob, age must be in between 18 and 200 years</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <textarea
            formControlName="address"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
          ></textarea>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
            <div *ngIf="f.address.errors.minlength">
              Address must be atleast 3 charcters
            </div>
          </div>
        </div>
        <div class="btnGrpCls">
          <button [disabled]="loading" class="btn btn-success mr-1">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            Update
          </button>
          <button [routerLink]="['/customer']" class="btn btn-primary">
            Back
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
