<div class="container col-md-6 offset-md-3 mt-5">
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div class="card">
    <div class="logo">
      <img
        class="card-img-top"
        src="https://thumbs.dreamstime.com/b/teamwork-community-logo-design-vector-adoption-social-network-template-156215000.jpg"
        alt="Card image cap"
      />
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <!-- <label class="form-label">Email</label> -->
          <input
            type="text"
            placeholder="Email address"
            formControlName="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Enter a valid email</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="loginBtn">
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-1"
            ></span>
            Login
          </button>
        </div>
        <div class="regLink">
          <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
