.loginBtn {
  text-align: center;
}
.btn-primary{
  width: 150px;
}
.regLink {
  text-align: center;
}
.logo {
  text-align: center;
}
.card {
  width: 400px;
  margin: auto;
}
.card-header {
  background-color: white;
}
.card-img-top {
  height: 170px;
  width: 170px;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid red;
}
